<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>



		<!--General Application setup-->
		<!-- The server name where Ecounting database is installed. Default="(local)" MS 08.Apr.16 -->
    <add key="ServerName" value="service-cp-127"/>
    
    <!-- The databaseName where the table for counters is located. Default= "Ecounting" MS 08.Apr.16 -->
    <add key="DataBaseName" value="Ecounting"/>
    
    <!-- SQL DB user name -->
    <add key="DataBaseUser" value="sa"/>
    
    <!-- SQL DB encrypted password -->
    <add key="DataBasePasswordEncrypted" value="ZDTB0YUFAL53rpz0UAdD+A=="/>
	
    <!-- The number of log lines to be displayed on the VMS log window. Default="200" MS 08.Apr.16 -->
		<add key="LogListLimit" value="1000"/>
    
    <!-- The directory location where the logs will be saved. -->
    <!--If no directory is enetered the Log folder will be created in the current application directory. Default="" MS 08.Apr.16-->
    <add key="LogLocation" value="D:\opms\NuMedia\Log\"/>
    
    <!-- The following numbers define the number of the different log files to hold-->
    <!--before automatically deleting them, default: 30 (0 = no automatic deletion) MS 08.Apr.16-->
    <add key="NumberofLogstoHold" value="30"/>
    
    <!-- The following numbers define the interval (in sec) in which displays will be updated-->
    <!-- default: 5   MS 23.Apr.21-->
        <add key="DisplayUpdateIntervalSeconds" value="5"/>
    
    <!-- The following numbers define the interval (in sec) in which the log will be updated-->
    <!-- when there is no change in the counter information, default: 30 (0 = update continously)  MS 08.Apr.16--> 
    <add key="LogUpdateinterval" value="30"/>
    
    
    <!-- The following numbers define the integration of Carlo Gavazzi Sign-->
    
    <!-- Following Setting will enable/disable Carlo Gavazzi settings  KM 29.Dec.24-->
    <add key="CarloGavazzi" value="False"/>
    <!-- Following Setting is for Modbus RTU Controller IP Address  KM 29.Dec.24-->
    <add key="Modbus_TCP_IP" value="192.168.1.200"/>
    <!-- Following Setting is for Modbus RTU Controller TCP Port Default 502 KM 29.Dec.24-->
    <add key="Modbus_TCP_Port" value="502"/>
    <!-- Following Setting is to define first register to read from  KM 29.Dec.24-->
    <add key="StartRegister" value="4000"/>
    <!-- Following Setting is to define how many registers in total to read from (Default is 16)  KM 29.Dec.24-->
    <add key="RegisterCount" value="16"/>
    <!-- Following Setting is to define how many slave devices in total (Default 1 and Max is 16)  KM 29.Dec.24-->
    <add key="SlaveIDCount" value="1"/>
    <!-- Following Setting is to define how many Seconds of delay between reads  KM 31.Dec.24-->
    <add key="ReadDelay" value="5"/>
    <!-- Following Setting is to Enhansed Logs Only for Deduging purpose  KM 31.Dec.24-->
    
    
    <!-- The following is Encrypted password for the desktop app--> 
    <add key="AdministratorPassord" value="DvWRyqJoOTXFLnGoyn5HSuoMDYfc4jQdjnN6cI8oAH0="/>
    
		<!--General Sign parameter Setup-->
		<!--The following five parameters are expected to be the same lenth-->
		<!--Eg. For two displays it is expected to configure, two SignNumbers, two SignNames, two ComPorts, two CounterShortNames & two IPadresses  -->
		<!--SignNumbers need to be separated by ; -->
		<!--For one display no ; is required-->
		<!--SignNumbers is the numbering of the sign starting 1 for the first sign and increasing in sequence upto the last one. -->
		<!--Example add key="SignNumbers" value="1;2;3;4" / MS 08.Apr.16-->
		<add key="SignNumbers" value="1"/>
		<!--ComPorts is the serial comport where the display message will be sent. Needs to be in equivalent sequence as SignNumber  MS 08.Apr.16-->
		<add key="ComPorts" value="COM99;COM12;COM88;COM99"/>
		<!--CounterShortNames are the ZMS counters for the signs. Needs to be in the same sequence as SignNumber  MS 08.Apr.16-->
		<add key="CounterShortNames" value="C001;C011;C010;C010"/>
		<!--IPadresses are IP address of the signs. Needs to be in  the same sequence as SignNumber  MS 08.Apr.16-->
		<add key="IPadresses" value="192.168.68.199;127.0.0.1;127.0.0.1"/>
		<!--SignNames is the idetentification name of the signs. Needs to be in the same sequence as SignNumbers MS 08.Apr.16-->
		<add key="SignNames" value="Stadium Lot AVI;Stadium Lot Visitor;LLC Lot AVI;LLC Lot Visitor"/>
		<!--LotNamesWhereSignsAreInstalled is prepared for Manulife-Kitchner project. Needs to be in the same sequence as SignNumber. MS 08.Apr.16-->
		<add key="LotNamesWhereSignsAreInstalled" value="1;1;2;2"/>
		<!--OpenLotDirectionSequence is prepared for Manulife-Kitchner project. Needs to be in the same sequence as SignNumber. MS 12.Dec.16-->
		<add key="OpenLotDirectionSequence" value="2-3-4-1;2-3-4-1;1-3-4-2;1-3-4-2"/>		
	

		<!--Sign Line-1 parameter setup-->		
		<!-- text message to display when car park is full. Default="FULL" MS 08.Apr.16-->
		<add key="LotFullMessageLine1" value="FULL;FULL;FULL;FULL"/>
    <add key="SendProtocolPrefixLine1" value="\02\01\00;\02\02\00;\02\01\00;\02\02\00"/>
    <add key="SendProtocolsufixLine1" value="\03x;\03x;\03x;\03x"/>

    <!--add key="SendProtocolPrefixLine1" value="\02\01\00;\02\02\00;\02\01\00;\02\02\00" /-->
    <!--add key="SendProtocolsufixLine1" value="\03x;\03x;\03x;\03x" /-->
    
		<!--Sign Line-2 parameter setup-->
		<!--Enable Line2 of sign by setting EnableSignLine2 to "True" or "1". Not cases senstive. Default = False MS 08.Apr.16-->
		<add key="EnableSignLine2" value="False;False;False;False"/>
		<add key="LotOpenMessageLine2" value="   Welcome  ;   Welcome  ;   Welcome ;   Welcome "/>
		<add key="AddLotnamewithLotOpenMessageLine2" value="True;True;True;True"/>
		<add key="LotFullMessageLine2" value="This Lot is Full ;This Lot is Full ;This Lot is Full;This Lot is Full"/>
		<add key="SendProtocolPrefixLine2" value="\02\03\00;\02\03\00;\02\03\00;\02\03\00"/>
		<add key="SendProtocolsufixLine2" value="\03x;\03x;\03x;\03x"/>

		<!--Line-2- Direction messages open lots-->
		<!--Enable Line2 direction message to open lots by setting EnableDirectiontoOpenLots to "True" or "1". Not cases senstive. Default = False MS 08.Apr.16-->
		<add key="EnableDirectiontoOpenLots" value="False;False;False;False"/>
		<add key="EnableCustomDirectiontoOpenLots" value="False;False;False;False"/>
		<add key="OpenLotDirectionPrefixLine2" value="GO TO LOT  ;GO TO LOT  ;GO TO LOT   ;GO TO LOT   "/>
		<add key="AllLotsFullMessageLine2" value="SORRY, NO PARKING;SORRY, NO PARKING;SORRY, NO PARKING;SORRY, NO PARKING"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
